.backgroundColor1{
	-fx-background-color: linear-gradient(to  right, rgba(255,255,255,1) 0%, rgba(209,184,158,1) 50%, rgba(197,110,51,1) 100%);
}

.backgroundColor2{
	-fx-background-color: linear-gradient(to bottom, #e0e0d7 0%, rgba(255,255,255,1) 50%, #d7995b 100%);
}

.backgroundColor{
	-fx-background-color:rgba(209,184,158,1)}
.button
{
-fx-background-color : #05071F;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.container{
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 10;
}